doxygen
build
_build
*~
*.diff
*.log

/docker/ubuntu-packages.txt
/docker/requirements.txt
/docker/install.sh

/spec-venv
/repos/*
/.vscode
/site
/tarballs
/site.zip

__pycache__

# -------- Visual Studio --------
.vs/*
