# SPDX-FileCopyrightText: 2020 The Khronos Group Inc.
#
# SPDX-License-Identifier: Apache-2.0

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

exclude: LICENSES|source/elements

repos:
-   repo: https://github.com/ambv/black
    rev: 21.6b0
    hooks:
    -   id: black
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: check-added-large-files
-   repo: https://github.com/pycqa/doc8
    rev: 0.9.0a1
    hooks:
    -   id: doc8
-   repo: https://github.com/fsfe/reuse-tool
    rev: v0.13.0
    hooks:
    -   id: reuse
-   repo: https://gitlab.com/pycqa/flake8
    rev: 3.9.2
    hooks:
    -   id: flake8
-   repo: https://github.com/pycqa/isort
    rev: 5.9.1
    hooks:
    -   id: isort
